.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

#faqContainer {
    width: 60%;
    font-size: 12px;
}

@media (max-width: 600px) {
    .faq-section {
        margin-bottom: 40px;
    }
    #faqContainer {
        width: 90%;
    }
}

#faqContainer h3 {
    font-size: 16px;
    margin-top: 32px;
    font-weight: bold;
}

#faqContainer dl {
    border: 1px solid #ccc;
}

#faqContainer dt {
    font-weight: bold;
    color: #111;
    background: #f4f4f4; /* 「Q」タイトルの背景色 */
    padding: 8px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#faqContainer dt:first-child {
    border-top: none;
}

#faqContainer dt:before {
    content: "Q.";
    font-weight: bold;
    margin-right: 8px;
}

#faqContainer dd {
    padding: 16px 16px 24px 30px;
    margin: 0;
    line-height: 140%;
}

#faqContainer dd:first-line {
    font-weight: bold;
    color: #2d995b;
}

#faqContainer dd:before {
    content: "A.";
    font-weight: bold;
    margin-right: 8px;
    margin-left: -21px;
}
